Repository PHOENIXCONTACT/MORYX-AbstractionLayer, pull requests merged in 2021-12, with the labels that each got.

#133 Remove tracing interface
  src/Moryx.AbstractionLayer/Activities/Activity.cs
  src/Moryx.AbstractionLayer/Activities/IActivity.cs
  src/Moryx.AbstractionLayer/Activities/IActivityProgress.cs
  src/Moryx.AbstractionLayer/Activities/IActivityTracing.cs
  src/Moryx.AbstractionLayer/Activities/Tracing.cs
  src/Moryx.AbstractionLayer/Activities/TracingExtension.cs
  src/Tests/Moryx.AbstractionLayer.Tests/TracingActivityTest.cs
Labels: enhancement, area:Abstraction

#136 Renamed SkipArticlesStrategy to SkipInstancesStrategy
  src/Moryx.Products.Management/Plugins/NullStrategies/SkipInstancesStrategy.cs
  src/Tests/Moryx.Products.IntegrationTests/ProductStorageTests.cs
Labels: enhancement, area:Abstraction, area:ProductManagement

#137 Fixed null ref on resource naming
  src/Moryx.AbstractionLayer/Resources/Resource.cs
Labels: bug

#130 Support product filter by properties
  src/Moryx.AbstractionLayer/Products/IProductManagement.cs
  src/Moryx.AbstractionLayer/Products/ProductQuery.cs
  src/Moryx.Products.Management/Components/IProductManager.cs
  src/Moryx.Products.Management/Components/IProductStorage.cs
  src/Moryx.Products.Management/Components/IProductTypeStrategy.cs
  src/Moryx.Products.Management/Facades/ProductManagementFacade.cs
  src/Moryx.Products.Management/Implementation/ProductManager.cs
  src/Moryx.Products.Management/Implementation/Storage/ProductExpressionHelpers.cs
  src/Moryx.Products.Management/Implementation/Storage/ProductStorage.cs
  src/Moryx.Products.Management/Modification/Endpoint/ProductInteraction.cs
  src/Moryx.Products.Management/Modification/IProductConverter.cs
  src/Moryx.Products.Management/Modification/Model/ProductDefinitionModel.cs
  src/Moryx.Products.Management/Modification/ProductConverter.cs
  src/Moryx.Products.Management/Plugins/GenericStrategies/GenericTypeStrategy.cs
  src/Moryx.Products.UI.Interaction/Moryx.Products.UI.Interaction.csproj.DotSettings
  src/Moryx.Products.UI.Interaction/Products/Filter/PropertyFilterDialogView.xaml
  src/Moryx.Products.UI.Interaction/Products/Filter/PropertyFilterDialogView.xaml.cs
  src/Moryx.Products.UI.Interaction/Products/Filter/PropertyFilterDialogViewModel.cs
  src/Moryx.Products.UI.Interaction/Products/ProductsWorkspaceView.xaml
  src/Moryx.Products.UI.Interaction/Products/ProductsWorkspaceViewModel.cs
  src/Moryx.Products.UI.Interaction/Properties/Strings.Designer.cs
  src/Moryx.Products.UI.Interaction/Properties/Strings.de.resx
  src/Moryx.Products.UI.Interaction/Properties/Strings.resx
  src/Moryx.Products.UI/Connected Services/ProductService/Reference.cs
  src/Moryx.Products.UI/Connected Services/ProductService/dotnet-svcutil.params.json
  src/Moryx.Products.UI/ViewModels/ProductDefinitionViewModel.cs
  src/Moryx.Products.UI/ViewModels/ProductQueryViewModel.cs
  src/Moryx.Products.UI/ViewModels/PropertyFilterViewModel.cs
  src/Moryx.Products.UI/update-service.ps1
  src/Moryx.Resources.UI/Connected Services/ResourceService/dotnet-svcutil.params.json
  src/Moryx.Resources.UI/update-service.ps1
  src/Tests/Moryx.Products.IntegrationTests/ProductStorageTests.cs
Labels: enhancement, area:ProductManagement
