Repository PHOENIXCONTACT/MORYX-AbstractionLayer, pull requests merged in 2022-04, with the labels that each got.

#160 Update ProductManagement facade
  src/Moryx.AbstractionLayer/Products/IProductManagement.cs
  src/Moryx.AbstractionLayer/Products/ProductFacadeExtensions.cs
  src/Moryx.AbstractionLayer/Recipes/IRecipeTemplating.cs
  src/Moryx.Products.Management/Components/IConfiguredTypesProvider.cs
  src/Moryx.Products.Management/Facades/ProductManagementFacade.cs
  src/Moryx.Products.Management/Implementation/Storage/ProductStorage.cs
  src/Moryx.Products.Management/ModuleController/ModuleController.cs
Labels: enhancement, area:ProductManagement

#162 Removed unsolvable obsoletes from notifications
  src/Moryx.Notifications/INotificationPublisher.cs
  src/Moryx.Notifications/Notification/INotification.cs
  src/Moryx.Notifications/Notification/Notification.cs
  src/Moryx.Products.Management/Modification/Model/RecipeModel.cs
Labels: bug

#164 Add resource management controller
  AbstractionLayer.sln
  src/Moryx.Resources.Interaction/Converter/ResourceQueryConverter.cs
  src/Moryx.Resources.Interaction/Models/ReferenceFilter.cs
  src/Moryx.Resources.Interaction/Models/ReferenceTypeModel.cs
  src/Moryx.Resources.Interaction/Models/ResourceModel.cs
  src/Moryx.Resources.Interaction/Models/ResourceQuery.cs
  src/Moryx.Resources.Interaction/Models/ResourceReferenceModel.cs
  src/Moryx.Resources.Interaction/Models/ResourceTypeModel.cs
  src/Moryx.Resources.Management.Endpoints/Moryx.Resources.Management.Endpoints.csproj
  src/Moryx.Resources.Management.Endpoints/ResourceManagementController.cs
  src/Moryx.Resources.Management.Endpoints/ResourceSerialization.cs
  src/Moryx.Resources.Management/Facades/ResourceManagementFacade.cs
Labels: enhancement, area:ResourceManagement
