Repository PHOENIXCONTACT/MORYX-AbstractionLayer, pull requests merged in 2022-12, with the labels that each got.

#193 Fix AbstractionLayer unit tests
  Directory.Build.targets
  src/Moryx.AbstractionLayer.TestTools/InMemoryUnitOfWorkFactoryBuilder.cs
  src/Moryx.AbstractionLayer.TestTools/Moryx.AbstractionLayer.TestTools.csproj
  src/Moryx.Products.Management/Implementation/Storage/ProductStorage.cs
  src/Moryx.Resources.Management/Resources/ResourceEntityAccessor.cs
  src/Moryx.Resources.Management/Resources/ResourceLinker.cs
  src/Moryx.Resources.Management/Resources/ResourceManager.cs
  src/Tests/Moryx.Products.IntegrationTests/Moryx.Products.IntegrationTests.csproj
  src/Tests/Moryx.Products.IntegrationTests/ProductStorageSqliteTests.cs
  src/Tests/Moryx.Products.IntegrationTests/ProductStorageTests.cs
  src/Tests/Moryx.Products.IntegrationTests/RecipeStorage/RecipeStorageSqliteTests.cs
  src/Tests/Moryx.Products.IntegrationTests/RecipeStorage/RecipeStorageTests.cs
  src/Tests/Moryx.Resources.Management.Tests/ResourceEntityAccessorTests.cs
  src/Tests/Moryx.Resources.Management.Tests/ResourceManagerSqliteTests.cs
  src/Tests/Moryx.Resources.Management.Tests/ResourceManagerTests.cs
Labels: enhancement, area:Abstraction, area:ResourceManagement, area:ProductManagement

#203 Add a Constructor for Notification that takes an Identifier
  docs/migrations/v5_to_v6.md
  src/Moryx.Notifications/Notification/Notification.cs
Labels: enhancement, area:Abstraction

#190 Add exception from Moryx.Asp.Extensions to Products and Resources endpoints
  AbstractionLayer.sln
  Directory.Build.targets
  NuGet.Config
  src/Moryx.AbstractionLayer.Products.Endpoints/Moryx.AbstractionLayer.Products.Endpoints.csproj
  src/Moryx.AbstractionLayer.Products.Endpoints/ProductManagementController.cs
  src/Moryx.AbstractionLayer.Products.Endpoints/WorkplanController.cs
  src/Moryx.AbstractionLayer.Resources.Endpoints/Moryx.AbstractionLayer.Resources.Endpoints.csproj
  src/Moryx.AbstractionLayer.Resources.Endpoints/ResourceManagementController.cs
  src/Moryx.AbstractionLayer/Properties/Strings.Designer.cs
  src/Moryx.AbstractionLayer/Properties/Strings.de.resx
  src/Moryx.AbstractionLayer/Properties/Strings.it.resx
  src/Moryx.AbstractionLayer/Properties/Strings.resx
Labels: enhancement, area:ResourceManagement, area:ProductManagement

#200 Add coordinates (`PositionX`, `PositionY`) to `WorkplanStepEntity`
  Directory.Build.targets
  src/Moryx.AbstractionLayer/Workplan/WorkplanExtensions.cs
  src/Moryx.Products.Management/Implementation/RecipeStorage.cs
  src/Moryx.Products.Model/API/IWorkplanStepRepository.cs
  src/Moryx.Products.Model/Entities/WorkplanStepEntity.cs
  src/Moryx.Products.Model/Migrations/20220906133824_InitialCreate.cs
  src/Moryx.Products.Model/Migrations/ProductsContextModelSnapshot.cs
  src/Tests/Moryx.Products.IntegrationTests/RecipeStorage/RecipeStorageTests.cs
Labels: enhancement, area:ProductManagement
